#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 8svh;
  margin-bottom: 9svh;
}

nav {
  width: 100vw;
}

#logo {
  width: 150px;

  a {
    width: 150px;
  }
}

.view-button {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding: 0;
  padding-bottom: 12px;
  cursor: pointer;
}

button {
  color: black;
}

.active {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}