.post {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-size: 13px;
  margin-bottom: 20px;
}

#post-owner {
  max-width: 600px;
  max-height: 40px;
  width: inherit;
  height: 9vw;
  display: flex;
  align-items: center;
  margin: 4px 0;
}

#post-owner-img {
  max-width: 35px;
  max-height: 35px;
  width: 8vw;
  height: 8vw;
  margin-left: 10px;
  border-radius: 100px;
  
  img {
    max-width: 35px;
    max-height: 35px;
    border: 1px solid black;
    border-radius: 100px;
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

.post:not(:first-child) {
  border-top: 1px solid rgb(0, 0, 0,0.1);
}

#post-recipe-owner {
  margin-left: 10px;
}

#recipe-image {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;

  img {
    max-width: 600px;
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

#recipe-content {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 0 5px;
  margin-left: 10px;
}

#content-top-row {
  max-width: 600px;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  // width: calc(100% - 10px);
  width: 100%;
}

#recipe-likes-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    max-width: 25px;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 6vw;
    height: 6vw;
    cursor: pointer;

    svg{
      max-width: 25px;
      max-height: 30px;
      width: inherit;
      height: inherit;
      padding: 0;
    }
  }
}

#feed-liked {
  color: rgb(255, 85, 85);
}

#feed-like-count {
  margin-left: 10px;
}

#feed-dietary {
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vw;
  div {
    max-width: 40px;
    text-align: center;
    width: 7vw;
  }
  div:not(:last-child) {
    border-right: 2px solid rgb(67, 67, 67);
  }
}

#feed-recipe-name {
  margin-bottom: 5px;
}

#feed-recipe-description {
  max-width: 600px;
  font-size: 12px;
  margin-bottom: 5px;
  padding-right: 5px;
}

#feed-recipe-date {
  font-size: 11px;
}

@media only screen and (min-width: 500px) {
  #content-top-row {
    margin-bottom: 0;
  }

  #recipe-content {
    margin-top: 0;
  }
}