footer {
  max-height: 60px;
  width: 100vw;
  height: 8svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 2em;
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;

  nav {
    max-width: 600px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
  }
}

div {
  a {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#fridge, #add, #list, #home {
  height: 39px;
  a {
    height: inherit;
    color: black;
    img {
      height: inherit;
    }
  }
}

svg {
  color: black;
}