#fridge-title {
  width: 100%;
  text-align: center;
}

#fridge-view-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
  padding-bottom: 10px;
  padding-top: 15px;
}

#fridge-recipe-img {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

#fridge-ingredients {
  max-width: 600px;
  min-width: 375px;
  width: 100%;
}

#fridge-search-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
  min-width: 375px;

  select {
    height: 22px;
    margin: 5px;
    font-family: "Inter", sans-serif;
  }

  button {
    border-radius: 6px;
    padding: 3px 5px;
    font-weight: bold;
    color: white;
    height: 22px;
  }

  #find-recipes-button {
    background-color: rgba(0, 162, 38, 0.828);
    border: 1px solid rgb(0, 150, 40);
    margin-left: 8px;
    margin-right: 5px;
    width: 120px;
    cursor: pointer;
  }
}

#find-recipes-button:active,
#empty-fridge-button:active {
  transform: translateY(1px);
}

#fridge-filters,
#fridge-buttons {
  width: 100%;

  input {
    height: 22px;
    width: 70%;
    margin-left: 5px;
  }
}

.other {
  background-color: rgba(156, 192, 231, 0.521);
}

.spices {
  background-color: rgba(255, 169, 32, 0.559);
}

.fresh-fruit {
  background-color: rgba(175, 255, 121, 0.591);
}

.fresh-veg {
  background-color: rgba(0, 162, 38, 0.664);
}

.dairy {
  background-color: rgb(251, 252, 235);
}

.fish--meat {
  background-color: rgba(220, 28, 11, 0.61);
}

.selected-ingredient {
  filter: brightness(60%);
}

#no-items-in-fridge {
  padding-left: 10px;
  text-align: center;
  width: 100%;
}

#fridge-buttons {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  button {
    margin: 5px;
  }
}

#fridge-items-in {
  width: 100%;
  max-width: 600px;
}

#fridge-buttons {
  max-width: 600px;
  width: 100vw;
  display: block;
  text-align: right;
}


#empty-fridge-button {
  margin: 0;
  border-radius: 6px;
  margin-bottom: 2px;
  color: black;
  font-weight: bold;
  height: 22px;
  width: 120px;
  color: rgb(218, 1, 1);
  background-color: transparent;
  border: none;
  margin-right: 3px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

#fridge-item-display {
  width: 100%;
}

#ingredients-button-display,
#fridge-items-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#fridge-inrgedient-button,
#fridge-item-button {
  width: 24%;
  aspect-ratio: 1/1;
  margin-bottom: 4px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.249);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2px;
  overflow: hidden;
  cursor: pointer;

  h3 {
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
}

#fridge-item-button:not(:nth-child(3n)) {
  margin-right: 6px;
}

#fridge-items-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 2px;
}

#fridge-item-name, #fridge-ingredient-name {
  margin: 0;
  width: 100%;
  margin-bottom: 10px;
}

#remove-ingredient-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-weight: 200;
}

#fridge-recipes {
  text-align: center;
  width: 100%;
  max-width: 600px;
  flex-wrap: wrap;
  margin: 10px;
  flex-direction: column;
  align-items: center;

  a {
    width: 70%;
    text-decoration: none;
    background-size: cover;
    margin: 1%;
  }
}

#recipe-in-fridge {
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.500);
  display: flex;
  align-items: center;
  justify-content: center;
}

#fridge-filters {
  display: flex;
  align-items: center;
}

// Mobile responsive
@media only screen and (max-width: 377px) {
  #find-recipes-button {
    margin-top: 5px;
  }

  #fridge-filters {
    display: block;
    text-align: center;

    select {
      margin-top: 0;
      margin-bottom: 0;
    }

    input {
      width: 40%;
    }
  }

}

@media only screen and (min-width: 500px) {
  #find-recipes-button {
    margin-right: 0px;
  }

  #fridge-filters {
    width: 100%;

    input {
      height: 22px;
      width: 55%;
      margin-left: 0;
    }
  }
}