#shopping-list-title {
  width: 100%;
  text-align: center;
}

#shopping-list-recipe-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

#shopping-list {
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 0 10px;
}

#shopping-view-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 calc(50% - 140px);
  padding-bottom: 10px;
  padding-top: 15px;
}

#clear-list-button, #copy-button, #remove-selected-button {
  color: black;
  border: none;
  padding: 5px 0;
  margin-right: 5px;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

#clear-list-button:hover, #copy-button:hover, #remove-selected-button:hover {
  border-bottom: 2px solid black;
}

#copy-button-container {
  display: flex;
  align-items: center;
}

#copy-button {
  width: 74px;
}

#copy-button.success-colour {
  color: rgb(0, 176, 80);
}

#copy-successful {
  background-image: url('../../images/tick.png');
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  // border: 2px solid rgb(0, 176, 80);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 2px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


#copy-successful.fade-in {
  opacity: 1;
}

#copy-successful.fade-out {
  opacity: 0;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

#clear-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

#shopping-list-item {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.standard-item-details {
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.nameMargin {
  margin-left: 7px;
}

#shopping-list-item-details {
  width: 100%;
  display: flex;
  padding-left: 15px;
}

.list-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  width: 12px;
  height: 11px;
  border: 1px solid black;
  border-radius: 2px;
}

.list-checkbox:checked {
  background-color: black;
}

#shopping-display {
  text-align: center;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  flex-direction: column;
  align-items: center;

  a {
    width: 70%;
    text-decoration: none;
    background-size: cover;
    margin: 1%;
  }
}

#substitutes-button-container {
  display: flex;
  height: 65%;
  margin-right: 15px;
}

.subs-info {
  background-image: url('../../images/info.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 18px;
  height: 18px;
  border-radius: 6px;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#shopping-recipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;

    div {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.500);
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
    }
  }
}

#recipe-on-list {
  color: white;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}