@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

@import 'components/variables';
@import 'global/base';
@import 'components/header';
@import 'components/feed';
@import 'components/footer';
@import 'components/shopping';
@import 'components/fridge';
@import 'components/profile';
@import 'components/edit&add';
@import 'components/detailedRecipe';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}